{:source-paths
 ["src/main"]

 :dev-http {8080 "public"}

 :dependencies
 [[reagent "1.1.0"]
  [metosin/reitit "0.5.15"]
  [ch.qos.logback/logback-classic "1.2.6"]
  [re-frame "1.2.0"]
  [day8.re-frame/http-fx "0.2.3"]]

 :builds
        {:app
               {:target     :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules    {:main {:entries [minesweeper.app]}}}}}
